@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

header {
  background: #2F2235;
  color: #F2F2F2;
  padding: 10px;
  display: flex;
  align-items: baseline; }

#party-header {
  color: #34D1D1;
  margin-left: 3px; }

#student {
  margin-left: 75%; }

img {
  margin: 20px;
  height: 350px;
  min-width: 300px;
  background: #F2F2F2;
  border: 1px solid #D1D2D3; }

.tab-headers {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }

.tab-select {
  padding: 15px;
  border-bottom: 1px solid #D1D2D3;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  background-color: #F2F2F2;
  width: 100%;
  color: #666666;
  font-weight: 300; }

.accordion {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10%; }

.tab-content {
  display: none;
  border-left: 1px solid #D1D2D3;
  border-right: 1px solid #D1D2D3;
  border-bottom: 1px solid #D1D2D3; }
  .tab-content p {
    margin: 12px;
    font-size: .9rem;
    line-height: 1.23rem;
    margin-top: 20px;
    font-weight: 300; }

h3 {
  margin: 12px;
  margin-top: 30px;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 1px solid #D1D2D3; }

.visible-top {
  border: 1px solid #D1D2D3;
  border-bottom: 1px solid #FFF;
  background-color: #FFF;
  font-weight: 600; }

.visible-content {
  display: flex; }

.text-container {
  display: flex;
  flex-direction: row;
  max-height: 200px; }

a {
  color: #FFF;
  background-color: #2F2235;
  width: 30%;
  padding: 20px;
  text-align: center;
  margin: 40px 35% 20px 35%; }
  a:hover {
    color: #34D1D1; }

@media screen and (max-width: 800px) {
  .tab-content {
    flex-direction: column; } }
